<h4>Transaction Details</h4>

<form (submit)="UserDetails()">

    <div>
        <label>Enter Card Number</label>
        <input type="number" id="cardnumber" name="cardNumber" [(ngModel)]="cardnumber">
    </div>
    <button type="submit">Submit</button>
</form>


<table class=table table-bordered>
    <thead>
        <tr>
            <th>S.NO</th>
            <th>TRANSACTION ID</th>
            <th>NAME</th>
            <th>CARD NUMBER</th>
            <th>USER ACCOUNT NUMBER</th>
            <th>USED AMOUNT</th>
            <th>TYPE</th>
            <th>CURRENT BALANCE</th>
            <th>DATE & TIME</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let user of users;let i=index">
            <td>{{i+1}}</td>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.cardNumber}}</td>
            <td>{{user.userAccountNumber}}</td>
            <td>{{user.amount}}</td>
            <td>{{user.type}}</td>
            <td>{{user.currentBalance}}</td>
            <td>{{user.dateTime}}</td>
        </tr>
    </tbody>
</table>