<form (ngSubmit)="addReview()">

    <div>
        <label for="productId">ProductId</label>
        <input type="productId" name="productId" [(ngModel)]="productId" placeholder="Enter productId" required  autofocus>
    </div>
    <br>
    <div>
        <label for="userId">UserId</label>
        <input type="userId" name="userId" [(ngModel)]="userId" placeholder="Enter userId" required  >
    </div>
<br>
<div>
    <label for="ratings">Ratings:</label>
<select name="ratings" id="ratings" [(ngModel)]="ratings">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>
</div>
<br>
<div>
    <label for="review">Reviews</label>
    <input type="text" name="review" [(ngModel)]="review" placeholder="Enter review" required >
</div>
<br>
<button type="submit">Submit</button>
</form>