

<header> 
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #110527;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvdjkzMi1uaW5nLTUxLXguanBn.jpg" alt="" width="50" height="50">Ecommerce App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Movies
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" routerLink="movielist">Movieslist</a></li>
                        <li><a class="dropdown-item" routerLink="add-movie">Add movies</a></li>
                        <li><a class="dropdown-item" routerLink="displaymovies">Movies</a></li>   
                      </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="cakes">Cakes</a>

                    </li> -->
                   
                   
                   
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Cakes
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" routerLink="cakes">Cakes</a></li>
                          <li><a class="dropdown-item" routerLink="displaycakes">View Cakes</a></li> 
                          <!-- <li><a class="dropdown-item" routerLink="cakescart">Cart</a></li> -->
              
                    
                    
                </ul>
                   
                   

                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="coursestype">Courses</a>
                  </li>
                    
                    <li>
                        <a class="nav-link active" aria-current="page" routerLink="add-salary">payroll</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Groceries
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" routerLink="listproducts">Products</a></li>
                          <li><a class="dropdown-item" routerLink="displayproducts">All Products</a></li>
                          <li><a class="dropdown-item" routerLink="addtocart">Cart</a></li>                    
                        </ul>
                    </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                    Tickets Booking
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <ul><a class="dropdown-item" routerLink="create-ticket"><i class="fa-solid fa-film"></i> Movies Tickets</a>

                      </ul>
                    </li>


                    <li><a class="dropdown-item" routerLink="list-tickets"><i class="fa-solid fa-bus"></i> Bus Tickets</a></li>
                    <li><a class="dropdown-item" routerLink="view-tickets"><i class="fa-solid fa-train-subway"></i> Train Tickets</a></li>   
                  </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   aria-expanded="false">
                    Employees
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" routerLink="list-tickets" routerLink="add-salary">payroll</a>
                      
                  </li>

                    <li><a class="dropdown-item" routerLink="employeelogin"><i class="fa-solid fa-arrow-right-to-bracket"></i> Employee Login</a></li>
                    
                  </ul>
                </li>
        

                      <li class="nav-item">
                        <a class="nav-link" routerLink="#"></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="#"> FAQ</a>
                      </li>
                      
                        
                      <li class="nav-item">
                        <a class="nav-link disabled"> </a>
                      </li>
                      <li><i class="bi bi-cart3"></i></li>


                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          MENU
                        </a>
                        
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" style="background-color:rgb(255, 255, 255);" width="100px">
                            <li><img src="https://halspan.com/wp-content/uploads/2021/10/istockphoto-1214428300-170667a.jpg" alt="" width="50" height="50"></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-user"></i> Profile</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-tags"></i> Coupens</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-location-dot"></i> Addresses</a></li>
                          <li><a class="dropdown-item" routerLink="addmembership"><i class="fa-solid fa-crown"></i> Member Ship</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-cart-shopping"></i> My orders</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-receipt"></i> My transactions</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-wallet"></i> My Wallet</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-shield-halved"></i> Manage security</a></li>
                          <li><a class="dropdown-item" href="#"><i class="fa-solid fa-handshake-angle"></i> Help & Support</a></li>
                        </ul>
                        <li class="nav-item">
                          <a class="nav-link " routerLink='register'>Register</a>
                        </li>
                         <li class="nav-item">
                          <a class="nav-link " routerLink='login'>Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                          </li>
                        

                    </ul>
                    <!-- <form class="d-flex">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form> -->
                    
                  </div>
                  
                </div>
              </nav>
</header>
                      
    
