<p>menus works!</p>
<p>all-menus works!</p>
<!DOCTYPE html>
<html>

<head>
  <meta charset="ISO-8859-1">
  <title>Lis of our Menus</title>
</head>

<body>
  <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="search">
        <button class="btn btn-outline-success" type="submit" (click)="searchFood()">Search</button>
      </form>
  <form onsubmit="getAllMenus()">
    <button type="submit">Vegetarian</button>
      <div class="row">
        <ng-container  *ngFor="let value of values" style="width: 18rem;">
            <div    class="col-3"id="c">
            <div class="card"id="c1">
                <img class="card-img-top" src="assets/{{value.foodImages}}" alt="Card image cap" width="50px" height="200px">
                <div class="card-body">
                    <!-- <h5 class="card-title">{{value.id}}</h5> -->
                    <h5 class="card-title">{{value.foodName}}</h5>

                    <p class="card-text">price - {{value.price}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >foodType - {{value.foodType}}</li>

                    <li class="list-group-item" >foodStyle - [{{value.foodStyle}}]</li>
                </ul>

            </div>
        </div>
    </ng-container>
 </div>
   <div class="row" id="card">
        <ng-container  *ngFor="let foodDetail of foodDetails" style="width: 18rem;">
            <div    class="col-3"id="card2">
            <div class="card" width="40px" height="150px" >
                <img class="card-img-top" src="assets/{{foodDetail.foodImages}}" alt="Card image cap" width="50px" height="200px">
                <div class="card-body">
                    <!-- <h5 class="card-title">{{value.id}}</h5> -->
                    <h5 class="card-title">{{foodDetail.foodName}}</h5>

                    <p class="card-text">price - {{foodDetail.price}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" >foodType - {{foodDetail.foodType}}</li>

                    <li class="list-group-item" >foodStyle - [{{foodDetail.foodStyle}}]</li>
                </ul>

            </div>
        </div>
    </ng-container>
 </div>

 
  </form>
 

</body>

</html>