<div style="background-color:#110527 ;">
  
<div >
    <form class="d-flex" style="width: 400px; margin:auto;float: right;">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" [(ngModel)]="search">
        <button class="btn btn-outline-success" type="submit" (click)="searchFood()">Search</button>
      </form>
    
</div >
<br>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
        <div class="carousel-inner" style="align-self: start;height: 300px; width: 1000px; padding-left: 50px;" >
          <div class="carousel-item active">
            <img src="https://d4t7t8y8xqo0t.cloudfront.net/resized/1080X400/pages%2F496%2Fimage20180628091552.jpg" class="d-block w-100" alt=" Will UPDATES SOON ">
          </div>
          <div class="carousel-item">
            <img src="https://c8.alamy.com/zooms/9/555f602f2f794285886282e0f645993e/t4ax40.jpg" class="d-block w-100" alt=" WE CONNECTED WITH YOU">
          </div>
          <div class="carousel-item">
            <img src="https://images.freekaamaal.com/store_desc_images/1526293066.jpg" class="d-block w-100" alt="TASTE OUR FOOD FEEL EVER SMILE">
          </div>
        </div>
      </div>
      <br>
<div >
   <div class="card col-3" id="c1" style="float:left;">
    <img class="card-img-top" src="https://media.easemytrip.com/media/Blog/India/636977607425696252/636977607425696252QYiiUU.jpg" alt="Card image cap" style = "width:500px;height:200px;">
     <div class="card-body">
        <!-- <h5 class="card-title">{{value.id}}</h5> -->
        <h5 class="card-title"> vegetarian</h5>
        <button routerLink="/vegetarian">view all</button>
    </div>

  </div>


<div class="card col-3"id="c1"  style="float: left;">
    <img class="card-img-top" src="https://wallpapercave.com/wp/wp8329822.jpg" alt="Card image cap" width="50px" height="200px">
    <div class="card-body">
        <!-- <h5 class="card-title">{{value.id}}</h5> -->
        <h5 class="card-title">non-vegetarian</h5>
        <button routerLink="/non-vegetarian">view all</button>
    </div>

</div>
</div>
<div>
<div class="card col-3"id="c1" style="float: left;">
    <img class="card-img-top" src="https://im.hunt.in/local/Gallery/3030811/l/3030811_16735.jpg" alt="Card image cap" width="50px" height="200px">
    <div class="card-body">
        <!-- <h5 class="card-title">{{value.id}}</h5> -->
        <h5 class="card-title">all-menus</h5>
        <button routerLink="/all-menus">view all</button>
      

    </div>
</div>


<div class="card col-3"id="c1" style="float: left;">
    <img class="card-img-top" src="https://assets.gqindia.com/photos/6041d62040ec5beed7557247/master/w_1600%2Cc_limit/BOSS%2520Burger.JPG" alt="Card image cap" width="50px" height="200px">
    <div class="card-body">
        <!-- <h5 class="card-title">{{value.id}}</h5> -->
        <h5 class="card-title">starters</h5>
        <button routerLink="/starters">view all</button>
       
   </div>
</div>

</div>
<h4 style="color: white;">“A recipe has no soul.<br> we, as the cook, must bring soul to the recipe.”

  <br>  – Thomas Keller
</h4>
</div>