<p>cakes</p>
<span class="badge bg-success"><a routerLink="/add-cakes">Add-Cakes</a></span>

<table class="table table-bordered">

<thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>brand</th>
        <th>category</th>
        <th>price</th>
        <th>image</th>
        <!-- <th>Delete Cakes</th>
        <th>Edit Cake Details</th> -->
    </tr>
    <tbody>
        <tr *ngFor="let cake of cakes;">
   
            <td>{{cake.id}}</td>
            <td>{{cake.name}}</td>
           <td>{{cake.brand}}</td>
           <td>{{cake.category}}</td>
           <td>{{cake.price}}</td>
           <td>{{cake.image}}</td>
           <td><button type="button" (click)="deletecake(cake.id)"class="btn-danger"> DELETE</button></td>
           <!-- <td><a routerLink="/update-cakes/{{cake.id}}" class="btn btn-info">Edit</a></td> -->


        </tr>
    </tbody>
    
</table>
