
<style>
    #form{
        text-align: center;
    }
</style>



<form id="form" (ngSubmit)="createTicket()">
    <h3>Create Ticket</h3>
    <div>
    
        <label for="userId">User id</label>
        <input type="text" name="userId" [(ngModel)]="userId" placeholder="Enter User id" required autofocus>
     </div>
     <br>
     <div>
        <label for="category">Category</label>
        <select name="category" id="category" [(ngModel)]="category">
        <option value=disabled>--Select--</option>
        <option value="cakes">Cakes</option>
        <option value="courses">Courses</option>
        <option value="grocery">Grocery</option>
        <option value="movies">Movies</option>
        <option value="order">Order</option>
        <option value="dress">Dress </option>
        <option value="charity">Charity</option>
        <option value="coupon-code">Coupon Code</option>
        <option value="foods">Foods</option>
        <option value="membership">Membership</option>
        <option value="medical">Medical</option>
        <option value="others">Others</option>
      </select>
      </div>
      <br>
<div>
    <label for="ticketTitle">Ticket Title</label>
    <input type="text" name="ticketTitle" [(ngModel)]="ticketTitle" placeholder="Enter Ticket Title" required>  
    
</div>
<br>
<div>
    <label for="description">Description</label>
    <input type="textarea" name="description" [(ngModel)]="description" placeholder="Enter Ticket Description" required> 
</div>
<br>


    <button type="submit">
        Submit
    </button>

   
</form>


