<button type="button" id="Notifications" class="btn btn-primary" (click)="notifiactionClick()">
    Notifications <span class="badge bg-secondary">{{count}}</span>
  </button>
  <div class="notification-div" [style.display]="messageBox">
    <ul *ngFor="let mess of message" style="list-style: none;">
      <li class="you" autofocus>{{mess}}</li><br>
    </ul>
      <div id="chat-input"><input type="text" name="chat" [(ngModel)]="chat"><button (click)="sendMessage()">sent</button></div>
  </div>
  <button class="btn btn-primary" (click)="tableClick('true')" *ngIf="btn == 'false'">show validate Documents list</button>
  <button class="btn btn-primary" (click)="tableClick('false')" *ngIf="btn == 'true'">hide validate Documents list</button>
  <!-- spinner -->
  <div *ngIf="spinner == true && details == undefined">
    <div class="no-freeze-spinner">
  
      <img src="https://images.pexels.com/photos/606542/pexels-photo-606542.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
      <div id="no-freeze-spinner">
        <div>
          <i class="material-icons">
            account_circle
          </i>
          <i class="material-icons">
           home
          </i>
          <i class="material-icons">
            work
          </i>
          <div>
          </div>
        </div>
      </div>
    </div>
  
  </div>
<div class="doc-table" *ngIf="btn == 'true'">
    <h1 class="head">Employees Document Validation</h1>
  <table class="table table-light table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Nobile Number</th>
        <th>Role</th>
        <th>Aadhar</th>
        <th>PAN Number</th>
        <th>Account Number</th>
        <th>IFSC code</th>
        <th>Verification Status</th>
        <th>Bank Name</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of details;let i= index " >
            <td ><div [ngClass]="status(i+1)? 'red' : 'grean'"> {{data.empId}}</div></td>
            <td >{{data.empName}}</td>
            <td >{{data.mobileNumber}}</td>
            <td >{{data.role}}</td>
            <td >{{data.aadhar}}</td>
            <td >{{data.pannum}}</td>
            <td >{{data.accountNo}}</td>
            <td >{{data.ifscCode}}</td>
            <td >{{data.status}}</td>
            <td >{{data.bankName}}</td>
        </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="validate()">analysis</button><button class="btn btn-primary" (click)="verified()">automaticverified</button>
</div>
<!-- <div class="spin-wrapper">
  <div class="spinner">
  </div>
</div> -->