<p>search-movies works!</p>
  <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col-4" *ngFor="let movie of movies;">
       <div class="card" style="width: 18rem;">
      <img src="assets/images/{{movie.image}}" class="card-img-top" alt="..." height="250px">
      <div class="card-body">
  
        <h5 class="card-title">{{movie.movieName}}</h5>
        <h5 class="card-title">{{movie.category}}</h5>
        <h5 class="card-title">{{movie.language}}</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary" routerLink="booking">Book Now</a>
      </div>
    </div>
  </div>
  </div>
  
  
  
  
  
    