
<h3>Place Order </h3>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>

<form (ngSubmit)="createOrder()">
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: left;
}
</style>
    <table style="width:100%">
        <tr>
          <th>UserId</th>
          <td>{{userId}}</td>
        </tr>
        <tr>
          <th>Amount:</th>
          <td>Rs. {{amount}}</td>
        </tr>
        <!-- <th>Discount:</th>
          <td>10%</td>
        </tr> -->
      </table>
      

<!-- UserId : {{userId}}
Amount : Rs. {{amount}} -->
 <p><label for="discountt">Discount:</label></p> 
   <textarea id="discount" name="discount" rows="1" cols="10">10%</textarea> 

<button type="submit">Submit </button>
<br/>
</form>
<td><a routerLink="/cardpayment/1/{{amount}}" class="btn btn-info">continue</a></td>
<h3>Would you like to donate?</h3>
<td><a routerLink="/list-trust" class="btn btn-info">DONATE US</a></td>
<td><a routerLink="/apply-coupon" class="btn btn-info">Apply Coupon</a></td>