<h4>Your donation can make someone's life better</h4>
<!DOCTYPE html>
<html>
<head>
<title>Donate us</title>
</head>
<body>
    <form (ngSubmit)="donate()">
	
<p>
    <label for="amount"><b>Donation amount</b></label>
    <input type="price" placeholder="Enter the donation amount" name="amount" [(ngModel)]="donationamount" id="amount" required>
</p>
<p>
    <label for="categories"><b>Donation categories</b></label>
    <select [(ngModel)]="donationcategories" name="donationcategories">  
        <option value = "Elder care"> Elder care   
        </option>  
        <option value = "Mobile healthcare"> Mobile healthcare
        </option>  
        <option value = "Physiocare"> Physiocare 
        </option>  
        <option value = "Cataract surgeries"> Cataract surgeries 
        </option>
        <option value = "Cancer care"> Cancer care  
        </option>
        <option value = "Digital literacy"> Digital literacy   
        </option>
        <option value = "Support a gran"> Support a gran   
        </option>
        <option value = "COVID-19"> COVID-19   
        </option> 
    </select>
</p>
<p>
	<button type="submit">DONATE</button>
	</p>

</form>
</body>
</html>

