<style>
    *{
    box-sizing: border-box;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
.column{
    float: left;
    width: 25%;
    padding: 10px;
    padding-left:20px;   
}
</style>
<h3>Available Courses</h3>
<button routerLink="/enrolledcourses/{{userId}}">Enrolled Courses</button>
<br>
<div class="row">
    <ng-container  *ngFor="let item of courses">
        <div class="column">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{item.imageurl}}" alt="Card image cap" width="287px" height="180px">
                <div class="card-body">
                  <h5 class="card-title">{{item.cname}}</h5>
                  <p class="card-text">by {{item.tutor}}</p>
                  <p class="card-text">{{item.duration}}</p>
                  <button routerLink="/viewcourse/{{item.id}}" class="btn btn-primary">View Details</button>
                </div>
            </div> 
        </div>
    </ng-container>   
</div>


