
<h3>List Stock</h3>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>s.no</th>
            <th>Product Id</th>
            <th>Quantity</th>  
            <th>View</th> 
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let stock of stocks;">
            
            <td>{{stock.id}}</td>
            <td>{{stock.productId}}</td>
            <td>{{stock.quantity}}</td> 
            <td><button type="submit" routerLink="/view-product-stock/{{stock.id}}">view</button></td>
        </tr>
    </tbody>
</table>