<div class="sidebar">
    <div class="sidebar-menu">
        <div class="nav-item">
            <a class="nav-link" title="Home"><i class="fa-home fas"> &nbsp;&nbsp; </i>
                <span class="title">Home</span></a>

        </div>
        <div class="nav-item"><a class="nav-link" title="Movies" routerLink="movielist"><i class="fa-video fas">
                    &nbsp;&nbsp; </i><span class="title">Movies</span></a>




            <div class="nav-item"><a class="nav-link" title="Bus" routerLink="list-buses-admin"><i class="fa-bus fas">
                        &nbsp;&nbsp; </i><span class="title">Bus</span></a>
            </div>
            <div class="nav-item"><a class="nav-link" title="Cakes" routerLink="cakes"><i class="fa-cake fas">
                        &nbsp;&nbsp; </i><span class="title">View Cakes</span></a>

            </div>

            <div class="nav-item"><a class="nav-link" title="Cakes" routerLink="cakes"><i class="fa-cake fas">
                        &nbsp;&nbsp;
                    </i><span class="title">Cakes</span></a>

            </div>
            <div class="nav-item"><a class="nav-link" title="Cakes" routerLink="admin"><i class="fa-solid fa-bowl-food">
                        &nbsp;&nbsp;
                    </i><span class="title">Food</span></a>

            </div>

            <div class="nav-item"><a class="nav-link" title="Bus" routerLink="addbook"><i
                        class="fa-solid fa-book-bookmark">
                        &nbsp;&nbsp; </i><span class="title"> Books</span></a>

            </div>

            <div class="nav-item"><a class="nav-link" title="Bus" routerLink="listproducts"><i
                        class="fa-solid fa-bag-shopping">
                        &nbsp;&nbsp;</i> <span class="title">Groceries</span></a>

            </div>
            <div class="nav-item"><a class="nav-link" title="Train" routerLink="listdress"><i class="fa-solid fa-shirt">
                        &nbsp;&nbsp; </i><span class="title">Dress</span></a>
            </div>


            <div class="nav-item"><a class="nav-link" title="Orders" routerLink="list-order"><i
                        class="fa-shopping-cart fas">
                        &nbsp;&nbsp; </i><span class="title">Orders</span></a>

            </div>


            <div class="nav-item"><a class="nav-link" title="Products" routerLink="listproducts"><i class="fa-book fas">
                        &nbsp;&nbsp; </i><span class="title">Products</span></a>

            </div>
            <div class="nav-item"><a class="nav-link" title="Stock" routerLink="product-stock-list"><i
                        class="fa-solid fa-cubes">
                        &nbsp;&nbsp; </i><span class="title">Stock</span></a>

            </div>
            <div class="nav-item"><a class="nav-link" title="pricing" routerLink="list-product-price"><i
                        class="fa-solid fa-tag"> &nbsp;&nbsp; </i><span class="title">Pricing</span></a>

            </div>



            <div class="nav-item"><a class="nav-link" title="Bus" routerLink="list-courses"><i class="fa-book fas">
                        &nbsp;&nbsp; </i><span class="title">Courses</span></a>

            </div>

            <div class="nav-item"><a class="nav-link" title="Bus" routerLink="medicalproduct"><i
                        class="fa-solid fa-pills">
                        &nbsp;&nbsp; </i><span class="title">Medicines</span></a>

            </div>

            <div class="nav-item"><a class="nav-link" title="Bus" routerLink="#"><i class="fa-solid fa-star">
                        &nbsp;&nbsp; </i><span class="title">Ratings</span></a>

            </div>


            <div class="nav-item"><a class="nav-link" title="employee" routerLink="listemployees"><i
                        class="fa-solid fa-id-badge">
                        &nbsp;&nbsp;
                    </i><span class="title">Employee</span></a>

            </div>
            <div class="nav-item"><a class="nav-link" title="document verification" routerLink="listemployeeDocument"><i
                        class="fa-solid fa-certificate"> &nbsp;&nbsp;
                    </i><span class="title">Document Verification</span></a>

            </div>




            <div class="nav-item"><a class="nav-link" title="document verification" routerLink="list-tickets"><i
                        class="fa-solid fa-inbox"> &nbsp;&nbsp;
                    </i><span class="title">List Issues</span></a>




                <!-- <div  class="nav-item"><a  class="nav-link" title="Train" routerLink="display-train"><i
    class="fa-train fas"> &nbsp;&nbsp; </i><span 
   class="title">Trains</span></a>

</div> -->
                <div class="nav-item"><a class="nav-link" title="User" routerLink="listadminusers"><i
                            class="fa-user fas"> &nbsp;&nbsp; </i><span class="title">Users</span></a>


                </div>
            </div>


        </div>



    </div>
</div>