
<div  class="sidebar">
    <div  class="sidebar-menu">
        <div  class="nav-item">
            <a  class="nav-link" title="Home"><i
                     class="fa-home fas"> &nbsp;&nbsp; </i>
                    <span 
                    class="title">Home</span></a>
            
        </div>
        <div  class="nav-item"><a  class="nav-link" title="Movies" routerLink="movielist"><i
            class="fa-video fas"> &nbsp;&nbsp; </i><span 
           class="title" >Movies</span></a>
  
</div>
        <div  class="nav-item"><a  class="nav-link" title="Cakes" routerLink="cakes"><i
                     class="fa-cake fas"> &nbsp;&nbsp; </i><span 
                    class="title" >Cakes</span></a>
           
        </div>
        <div  class="nav-item"><a  class="nav-link" title="Products" routerLink="listproducts"><i
                     class="fa-book fas"> &nbsp;&nbsp; </i><span 
                    class="title">Products</span></a>
            
        </div>
        <div  class="nav-item"><a  class="nav-link" title="Dress" routerLink="listdress"><i
            class="fa-book fas"> &nbsp;&nbsp; </i><span 
           class="title">Dress</span></a>
   
</div>
        <div  class="nav-item"><a  class="nav-link" title="Stock" routerLink="product-stock-list"><i
            class="fa-book fas"> &nbsp;&nbsp; </i><span 
           class="title">Stock</span></a>
   
</div>
<div  class="nav-item"><a  class="nav-link" title="pricing" routerLink="list-product-price"><i
    class="fa-book fas"> &nbsp;&nbsp; </i><span 
   class="title">Pricing</span></a>

</div>

<div  class="nav-item"><a  class="nav-link" title="Orders" routerLink="orders"><i
    class="fa-shopping-cart fas"> &nbsp;&nbsp; </i><span 
   class="title">Orders</span></a>

</div>

<div  class="nav-item"><a  class="nav-link" title="Bus" routerLink="list-tickets"><i
    class="fa-bus fas"> &nbsp;&nbsp; </i><span 
   class="title">Bus</span></a>

</div>
<div  class="nav-item"><a  class="nav-link" title="Bus" routerLink="list-courses"><i
    class="fa-book fas"> &nbsp;&nbsp; </i><span 
   class="title">Courses</span></a>

</div>
<div  class="nav-item"><a  class="nav-link" title="Train" routerLink="display-train"><i
    class="fa-train fas"> &nbsp;&nbsp; </i><span 
   class="title">Trains</span></a>

</div>
<div  class="nav-item"><a  class="nav-link" title="User" routerLink="listadminusers"><i
    class="fa-user fas"> &nbsp;&nbsp; </i><span 
   class="title">Users</span></a>

</div>
<div  class="nav-item"><a  class="nav-link" title="Sellers" routerLink="listemployees"><i
    class="fa-user fas"> &nbsp;&nbsp; </i><span 
   class="title">Sellers</span></a>
</div>

        
    </div>
</div>
