<section id="cardDetails" style="margin-left:500px;margin-top:50px;">
    <div id="credentials">
        <div class="card" style="width:40%">
            <div class="shadow p-3 mb-0 bg-body rounded">
            <form (submit)="verifyCardDetails()">
            <div>
                <h5 style="text-align:center;"><i><b>Enter card details</b></i></h5>
            </div>
            <hr>
            <div>
                 <input type="number" name="cardNumber" id="cardNumber" [(ngModel)]="cardNumber"  style="width:100%;padding:10px" placeholder="Enter card number" required>
            </div>
            <hr>
            <div>
                <input type="number" name="month" id="month" placeholder="month" [(ngModel)]="month"  style="width:50%;padding:10px" required>
                <input type="number" name="year" id="year" placeholder="year" [(ngModel)]="year" style="width:50%;padding:10px" required>
            </div>
            <hr>
            <div>
                <input type="text" name="name" id="name" placeholder="card holders name"  [(ngModel)]="name" style="width:100%;padding:10px" required>
            </div>
            <hr>
            <div>
                <input type="number" name="cvv" id="cvv"  [(ngModel)]="cvv" placeholder="cvv" style="width:100%;padding:10px" required>
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div [style.display]="loading"> 
                      <img src="assets/tenor_1.gif" style="width:35%;margin-left:70px;margin-top: 5px;">
                    </div>
               </div>
               <div class="col-8">
                <button type="submit" name="submit" class="btn btn-secondary" id="submit" >Verify</button>
               </div>
            </div>
        </form>
        </div>
        </div>
    </div>
</section>
