
<h2>List Tickets</h2>
<button type="button"  class="btn btn-info" routerLink="/list-tickets">
    List Ticket
</button>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>userId</th>
            <th>ticketTitle</th>
            <th>description</th>
            <th>category</th>
            <th>assignedTo</th>
            <th>priority</th>
            <th>status</th>
            <th>VIEW</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets;">
            <td>{{ticket.id}}</td>
            <td>{{ticket.userId}}</td>
            <td>{{ticket.ticketTitle}}</td>
            <td>{{ticket.description}}</td>
            <td>{{ticket.category}}</td>
            <td> <select name="assignedTo" id="assignedTo" [(ngModel)]="assignedTo">
                <option value="kiruthiga">101 admin</option>
                <option value="gopi"> 102 admin</option>
                <option value="tamil">103 admin</option></select></td>
            <td> <select name="priority" id="priority" [(ngModel)]="priority">
                <option value="high">High</option>
                <option value="low">Low</option>
                </select></td>
            <td> <select name="status" id="status" [(ngModel)]="status">
                <option value="open">Open</option>
                <option value="resolved">Resolved</option>
                <option value="closed">Closed</option></select></td>
            <td><button type="submit" routerLink="/view-tickets/{{ticket.id}}" class="btn btn-primary">view</button></td>
        </tr>
    </tbody>
</table>
