
<h3>List Tickets</h3>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Category</th>
            <th>Assigned To</th>
            <th>Priority</th>
            <th>Status</th>
            <th>View</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets;">
            <td>{{ticket.id}}</td>
            <td>{{ticket.userId}}</td>
            <td>{{ticket.ticketTitle}}</td>
            <td>{{ticket.description}}</td>
            <td>{{ticket.category}}</td>
            <td> <select name="'assignedTo'+i" id="assignedTo">
                <option [(ngModel)]="assignedTo" value="kiruthiga">admin</option>
                <option [(ngModel)]="assignedTo" value="gopi"> 102 admin</option>
                <option [(ngModel)]="assignedTo" value="tamil">103 admin</option></select></td>
            <td> <select name="priority" id="priority" [(ngModel)]="priority">
                <option [(ngModel)]="assignedTo" value="high">High</option>
                <option [(ngModel)]="assignedTo" value="low">Low</option>
                </select></td>
            <td> <select name="status" id="status" [(ngModel)]="status">
                <option [(ngModel)]="assignedTo" value="open">Open</option>
                <option [(ngModel)]="assignedTo" value="resolved">Resolved</option>
                <option [(ngModel)]="assignedTo" value="closed">Closed</option></select></td>
            <td><button type="submit" routerLink="/view-tickets/{{ticket.id}}" class="btn btn-primary">view</button></td>
            <td><button type="submit" routerLink="/update-ticket/{{ticket.id}}" class="btn btn-primary">update</button></td>
        </tr>
    </tbody>
</table>