<form [formGroup]="myForm" (ngSubmit)="register()" class="row g-3" style="text-align:center">
    <div class="col-md-3" style="text-align:center">
      <label for="validationServer01" class="form-label"></label>
      <input type="text" class="form-control" [ngClass]="isValid('name')" formControlName="name" id="validationServer01" placeholder="Enter your name" required>
       
      <div class="valid-feedback">
        <i class="fa-solid fa-face-smile-beam" style="color:green"></i>
      </div>

      <div class="invalid-feedback">
          <p *ngIf="name?.errors?.['minlength']">Name should contain minimum 3 characters</p>
          <p *ngIf="name?.errors?.['required']">Name cannot be empty</p>
          <p *ngIf="name?.errors?.['pattern']">Name should contain only letters</p>
          <p *ngIf="name?.errors?.['nullValidator']">Name cannot be empty</p>
      </div>

    </div>

    <div class="col-md-3" style="text-align:center">
      <label for="validationServer02" class="form-label"></label>
      <input type="email" id="price" class="form-control " [ngClass]="isValid('email')" formControlName="email" id="validationServer02" placeholder="Enter your Email Id">
       
      <div class="valid-feedback">
        <i class="fa-solid fa-face-smile-beam" style="color:green"></i>
      </div>

      <div class="invalid-feedback">
        <!-- <p *ngIf="email?.errors?.['email']">Enter valid email (kvcet@gmail.com)</p> -->
          <p *ngIf="email?.errors?.['required']">Email cannot be empty</p>
      </div>      
    </div>

    <div class="col-md-3" style="text-align:center">
      <label for="validationServerUsername" class="form-label"></label>
      <div class="input-group has-validation">
        <input type="tel" class="form-control" [ngClass]="isValid('mobile')" formControlName="mobile" id="validationServerUsername" placeholder="Enter your mobile number" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
         
        <div class="valid-feedback">
            <i class="fa-solid fa-face-smile-beam" style="color:green"></i>
        </div>

        <div id="validationServerUsernameFeedback" class="invalid-feedback">
            <p *ngIf="mobile?.errors?.['maxlength'|| 'minlength']">Enter valid mobile number (9876543210)</p>
            <p *ngIf="mobile?.errors?.['required']">Mobile number cannot be empty</p>
        </div>
      </div>
    </div>

    <div class="col-md-3" style="text-align:center">
        <label for="validationServerUsername" class="form-label"></label>
        <div class="input-group has-validation">
          <input type="password" class="form-control" [ngClass]="isValid('password')" formControlName="password" id="validationServerUsername" placeholder="Enter your password" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
                   
          <div class="valid-feedback">
            <i class="fa-solid fa-face-smile-beam" style="color:green"></i>
          </div>
        
          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            <p *ngIf="password?.errors?.['minlength' || 'maxlength' ]">Password must be minimum 8 characters and maximum 16 characters</p>
          <p *ngIf="password?.errors?.['required']">Password cannot be empty</p>
          </div>
        </div>
      </div>
 
   
    <!-- <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback">
        <label class="form-check-label" for="invalidCheck3">
          <a href="#">Agree to terms and conditions</a>
        </label>
        <div id="invalidCheck3Feedback" class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div> -->
    <div class="col-12">
      <button class="btn btn-primary" type="submit" [disabled]="this.myForm.invalid">Register</button>
    </div>
  </form>