<h2>listproducts</h2>
<form class="d-flex">
<a class="btn btn-outline-success" routerLink="/addproducts">Add product</a>
</form>
<br>
 <br>
<table class="table table-bordered">
   
    

    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>brand</th>
            <th>category</th>
            <th>price</th>
            <th>image</th>
            <th>Actions</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let product of products;">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.category}}</td>
            <td>{{product.price}}</td>
            <td>{{product.image}}</td>
            <td><a routerLink="/updateproducts/{{product.id}}" class="btn btn-info">Edit</a>
            &nbsp;<button type="button" (click)="deleteProduct(product.id)" class="btn btn-danger">Delete</button>
           
           &nbsp; <a href="/add-product-stock?productId={{product.id}}" class="btn btn-info">Add Stock</a>
           &nbsp; <a href="/addproductprice?productId={{product.id}}" class="btn btn-info">Add Price</a>
           
        
        </td>
           
        </tr>
    </tbody>
</table>