<h3>All Orders</h3>

<table class="table table-bordered">
   
    

    <thead>
        <tr>
            <th>Order Id</th>
            <th>User </th>
            <th>Description </th>
            <th>Total Price(Rs)</th>
            <th>Ordered Date</th>
            <th>Status</th>
            <th>Modified Date</th>
            <th>Created Date</th>
           
            <!-- <th>Created By</th> -->
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let order of orders;">
            <td>{{order.orderId}}</td>
            <td>{{order.userId}}</td>
            <td>{{order.description}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{order.status}}</td>
            <td>{{order.modifiedDate}}</td>
            <td>{{order.createdDate}}</td>
            <!-- <td>{{id}}</td> -->
            
            
        </tr>
    </tbody>
</table>

