<p>list-order works!</p>

<table class="table table-bordered">
   
    

    <thead>
        <tr>
            <th>id</th>
            <th>productId</th>
            <th>totalPrice</th>
            <th>orderDate</th>
            <th>satus</th>
            <th>modifyDate</th>
            <th>createDate</th>
            <th>createdBy</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let order of orders;">
            <td>{{order.id}}</td>
            <td>{{order.productId}}</td>
            <td>{{order.totalPrice}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{order.status}}</td>
            <td>{{order.modifyDate}}</td>
            <td>{{order.createDate}}</td>
            <td>{{order.createdBy}}</td>
            
        </tr>
    </tbody>
</table>
<td><a routerLink="/add-rating" class="btn btn-info">Add Rating</a></td>