<p>admin works!</p>
<!-- h1>List All Menu</h1>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>s.no</th>
            <th>Food Name</th> 
            <th>Price</th>
            <th>Food foodType</th>
            <th>Food Style</th>
            <th>Food Images</th>
           
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let menu of menus;">
            
            <td>{{menu.id}}</td>
            <td>{{menu.foodName}}</td>
            <td>{{menu.price}}</td>
            <td>{{menu.foodType}}</td>
            <td>{{menu.foodStyle}}</td>
            <td>{{menu.foodImages}}</td>
            <td><button type="button" (click)="remove(menu.id)">Delete</button></td>
             <td><a routerLink="/update-dish/{{menu.id}}">Update</a></td>
            
        </tr>
    </tbody>
</table>
 -->








