<p>add-salary works!</p>
<form (ngSubmit)="addSalary()"ngNativeValidate>
    <div>
        <label for="empId">EmpId</label>
        <input type="number" name="empId" [(ngModel)]="empId" placeholder="Enter employee id" required autofocus>
    </div>
    <br>
    <div>
        <label for="designation">Designation</label>
        <input type="text" name="designation" [(ngModel)]="designation" placeholder="Enter designation" required>
    </div>
    <div>
        <label for="workingDays">Working Days</label>
        <input type="number" name="workingDays" [(ngModel)]="workingDays" placeholder="Enter working days" required>
    </div>
    <br>
    <div>
        <label for="month">month</label>
        <input type="number" name="month" [(ngModel)]="month" placeholder="select month" required>
    </div>
     <div>
        <label for="salary">salary</label>
        <input type="number" name="salary" [(ngModel)]="salary" placeholder="Enter salary" required>
    </div>
    <br>
    <div>
        <label for="salaryStatus">salary status</label>
        <input type="text" name="salaryStatus" [(ngModel)]="salaryStatus" placeholder="Enter salary status" required>
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>
