<style>
    div{
        margin-top: -50px;
        text-align: right;
        margin-right: 100px;
    }
    table{
        margin-top: 20px;
    }
</style>
<body>
<h1>
    EMPLOYEES TIMESHEET LIST
</h1>
<form ngNativeValidate (submit)="search()">
    <label for="searchEmployee"></label>
    <input type="search" name="employeeName" id="employeeName" [(ngModel)]="employeeName" placeholder="Search name">
    <button type="submit">search</button>
</form>

<table class="table table-borderd">
    <thead>
        <tr>
            <th>S.NO</th>
            <th>employee ID</th>
            <th>employee name</th>
            <th>date</th>
            <th>project</th>
            <th>working hours</th>
            <th>leaving hours</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let user of employees;let i= index">
            <td>{{i+1}}</td>
            <td>{{user.employeeId}}</td>
            <td>{{user.employeeName}}</td>
            <td>{{user.date}}</td>
            <td>{{user.task}}</td>
            <td>{{user.workingHours}}</td>
            <td>{{user.leavingHours}}</td>
        </tr>
    </tbody>
</table>
</body>