
<section id="transactionDetails" *ngIf="transactions">
    <div class="accordion accordion-flush" id="display" style="width:70%" *ngFor="let transaction of transactions;let i=index">
      <div class="accordion-item">
        <div class="shadow p-3 mb-0 bg-body rounded">
          <h5 class="accordion-header" [id]="'heading'+i">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse'+i" aria-expanded="false" 
            [attr.aria-controls]="'flush-collapse'+i" style="text-align:center;">
            Transaction Id : {{transaction.transactionId}} Paid amount : {{transaction.paidAmount}}
            </button>
          </h5>
        </div>
          <div [id]="'flush-collapse'+i" class="accordion-collapse collapse" [attr.aria-labelledby]="'flush-heading'+i" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"> {{transaction.paidAmount}} rs successfully paid on : {{transaction.paidOn}}</div>
          </div>
      </div> 
    </div>
  </section>