<section>
    <div class="card" style="width:40%;margin-top:150px;margin-left:80px">
        <div class="shadow p-3 mb-0 bg-body rounded">
       <form>
            <div id="title">
                <h5 style="text-align:center;"><i>Your Balance</i></h5>
            </div>
            <hr>
            <div>
                <h5>{{points}} Points</h5>
                <h5 style="text-align:center;"><i>You Got</i></h5>
            </div>
            <hr>
            <div>
                <h5 *NgIf="userPoints">{{userPoints}} Points</h5>
            </div>
            <hr>
            <div style="text-align:center;">
                
            </div>
       </form>
    </div>
    </div>
</section>

