<p>addproductprice works!</p>





<form (ngSubmit)="addProductprice()">
    
<div>
    <label for="productid">Product ID:</label>
    <input type="number" name="productId" [(ngModel)]="productId" placeholder="Enter productid" required > 
</div>
<div>
    <label for="productname">Product_name:</label>
    <input type="text" name="productname" [(ngModel)]="productname" placeholder="Enter productname" required > 
</div>
<div>
    <label for="price">price:</label>
    <input type="number" name="price" [(ngModel)]="price" placeholder="Enter price" required> 
</div>
<div>
    <label for="startDate">start_date:</label>
    <input type="Date" name="startDate" [(ngModel)]="startDate"   placeholder="Enter startdate" required > 
</div>
<div>
    <label for="endDate">end_date:</label>
    <input type="Date" name="EndDate" [(ngModel)]="EndDate"  placeholder="Enter EndDate" required > 
</div>
    <button type="submit">
        submit
    </button>
</form>