<div> 
    <button ><a routerLink='/deletebook'>DELETE BOOK</a></button>
   </div>
<section id="cardDetails" style="padding-top:10px ;">
    <div class="card" style="width:40%">
        <div class="shadow p-3 mb-0 bg-body  rounded">

            <form id="number" ngNativeValidate (submit)="addBook()">
                <div>
                    <h5 style="text-align:center">ADD BOOK</h5>
                </div>
                <div style="padding-bottom:10px;">
                    <input type="text" id="name" name="name" placeHolder="Enter Book Name"
                        [(ngModel)]="name" required style="width:100%; height: 70px;padding: 10px;"> <br>
                    <span class="bookFormError" id="invalidname">{{nameError}}</span>
                </div>
                <div style="padding-bottom:10px;">
                    <input type="number" id="amount" name="amount"
                        placeHolder="Enter Amount" [(ngModel)]="amount" required
                        style="width:100%; height: 70px;padding: 10px;"><span id="invalidauthor"></span>
                </div>
                
                <div style="padding-bottom:10px;">
                    <label style="margin-left: 320px;">Department</label><br>
                    <select name="Type" [(ngModel)]="department" required style="width:100%; height: 70px;padding: 10px;">
                        <option value="EEE">EEE</option>
                        <option value="MECH">MECH</option>
                        <option value="ECE">ECE</option>
                        <option value="CSE">CSE</option>
                        <option value="IT">IT</option>
                        <option value="AI">AI</option>
                        <option value="MECHATRONICS">MECHATRONICS</option>
                        <option value="ROBOTIC">ROBOTICS</option>
                        <option value="AUTOMOBILE">AUTOMOBILE</option>
                        <option value="EIE">EIE</option>
                    </select>
                </div>
                
               
                
                <div style="padding-bottom:10px;">
                    <input type="text" id=" eBookLink" name=" eBookLink"
                        placeHolder="Enter E-Book Link " [(ngModel)]=" eBookLink" required
                        style="width:100%; height: 70px;padding: 10px;"><span id="invalidLink"></span>
                </div>

                
      
            
                <div style="padding-bottom:10px;">
                    <input type="text" id="imageLink" name="imageLink"
                        placeHolder="Enter Book Image Link" [(ngModel)]="imageLink"
                        required style="width:100%; height: 70px;padding: 10px;"><span id="invalidimageLink"></span>
                </div>
                
                <div style="margin-left: 300px;padding-bottom:10px;">
                    <button type="submit" class="btn btn-primary">Add</button> &nbsp;

                    <button type="reset" class="btn btn-danger" style="margin-left:10px;">Reset</button>
                </div>
            </form>
        </div>
    </div>
</section>
