<h1>All Movies</h1>
<button type="button" class="btn btn-primary" routerLink="add-movies">
    Add Movies</button>


<table class="table table-bordered" id="table">

<thead>
    <tr>
        
        <th>Movie ID</th>
        <th>Movie Name</th>
        <th>Ticket Price</th>
        <th>Ratings</th>
        <th>Language</th>
        <th>Location</th>
        <th>category</th>
        <th>Action</th>
        <th>Edit</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let movie of movies">
      
        <td>{{movie.id}}</td>
        <td>{{movie.movieName}}</td>
        <td>{{movie.ticketPrice}}</td>
        <td>{{movie.ratings}}</td>
        <td>{{movie.language}}</td>
        <td>{{movie.location}}</td>
        <td>{{movie.category}}</td>
      <td><button type="button" (click)="deleteMovie(movie.id)"
       class="btn btn-danger">Delete</button> 
       </td>
       <td><button type="button" class="btn btn-primary" routerLink="/update-movie/{{movie.id}}">
    Update</button> 
        </td>
    </tr>


</tbody>


</table>
