<section style="margin-left:530px;margin-top:150px;">
    <div class="card" style="width:40%">
        <div class="shadow p-3 mb-0 bg-body rounded">
       <form (submit)="verifyTransactionPin()">
            <div id="title">
                <h5 style="text-align:center;"><i>Enter your transaction pin</i></h5>
            </div>
            <hr>
            <div>
                <input type="number" name="pin" id="tpin" style="width:100%" placeholder="Enter transaction pin" required [(ngModel)]="tpin">
            </div>
            <hr>
            <div class="row">
                <div class="col-4">
                    <div [style.display]="loading"> 
                      <img src="assets/tenor_1.gif" style="width:35%;margin-left:70px;margin-top: 5px;">
                    </div>
               </div>
               <div class="col-8">
                   <button type="submit" class="btn btn-secondary" name="submit" id="submit">Verify</button>
               </div>
            </div>
       </form>
    </div>
    </div>
</section>

