 <form (ngSubmit)=" addBooking()" *ngIf="bus">
    <div >
            <h2>{{bus.busName | uppercase}} Booking</h2>
            <br>
            <div>
              <label for="name">Bus Name: </label>
              <input type="text" name="name" [(ngModel)]="bus.busName" placeholder="Enter Bus Name">
            </div>
            <br>
            <div>
                <label for="from">Bus From: </label>
                <input type="text" name="from" [(ngModel)]="bus.busFrom" placeholder="Enter Bus From">
                <span> 
                  <label for="to">Bus To: </label>
                <input type="text" name="to" [(ngModel)]="bus.busTo" placeholder="Enter Bus To">
                </span>
              </div>

              <br>
              <div>
                <label for="ticketsAvailable">Bus Tickets Available: </label>
                <input type="number" name="ticketsAvailable" [(ngModel)]="bus.busTicketsAvailable" placeholder="Enter Bus Tickets Available">

              
               <span> 
                <label for="ticketPrice">Bus Ticket Price: </label>
                 <input type="number" name="ticketPrice" [(ngModel)]="bus.busTicketPrice" placeholder="Enter Bus Ticket Price">
                                 
                </span>
              </div>
              <hr>
              
              
            
            <h1>User Filling</h1>
            <br>
                <div>
                <label for="numberOfTicketsBooked"> Enter Number of Tickets : </label>
                <input type="number"    name="numberOfTicketsBooked"   [(ngModel)]="numberOfTicketsBooked"  min="1" max="10"   autofocus>
                <button type="button"  class="btn btn-info"   (click)="getTotalAmount()" >CheckPrice</button>
                  <br>
                Total Amount :{{totalTicketPrice}}
                          </div> 

                <br>
                <div>
                  <label for="dateOfTravelling">Travelling Date : </label>
                  <input type="date" name="dateOfTravelling" [(ngModel)]="dateOfTravelling" required placeholder="Enter Bus TicketPrice" >
                  </div>
                  <br>


               <!-- <div>
                    <label for="ticketsAvailable">Bus Tickets Available : </label>
                    <input type="number" name="ticketsAvailable" [(ngModel)]="ticketsAvailable" required placeholder="Enter Bus TicketsAvailable" >
                    </div>
                    <br>
                    <div>
                        <label for="ticketPrice">Bus Ticket Price : </label>
                        <input type="number" name="ticketPrice" [(ngModel)]="ticketPrice" required placeholder="Enter Bus TicketPrice" >
                        </div>
                        <br>
                        <button class="btn btn-danger"(click)="addBus()">Submit</button> -->







   
              <br>
              <div>
              <button type="submit" class="btn btn-danger" >Book</button>
            </div>
            <br>
          </div> 
    
        </form>