<p>non-vegetarian works!</p>



<form onsubmit="nonvegetarian()">
    <button type="submit">Display non-vegetarian</button>
    <!---form ngNativeValidation (submit)="displayMenus()"--->


    <div class="row">
        <ng-container *ngFor="let nonveg of nonvegs" style="width: 18rem;">
            <div class="col-3" id="c">
                <div class="card" id="c1">
                    <img class="card-img-top" src="{{nonveg.foodImages}}" alt="Card image cap" width="50px"
                        height="200px">
                    <div class="card-body">
                        <!-- <h5 class="card-title">{{value.id}}</h5> -->
                        <h5 class="card-title">{{nonveg.foodName}}</h5>

                        <p class="card-text">price - {{nonveg.price}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">foodType - {{nonveg.foodType}}</li>

                        <li class="list-group-item">foodStyle - {{nonveg.foodStyle}}</li>
                    </ul>

                </div>
            </div>
        </ng-container>
    </div>

</form>