<!-- <form [formGroup]="myForm" (ngSubmit)="logIn()" class="row g-3" style="text-align:center;width:25%">
  <section style="text-align:center; margin-left:650px; margin-top:170px" >
    <div class="col-md-12">
        <label for="validationServer02" class="form-label"></label>
        <input type="text" style="width:100%; text-align:center" id="price" class="form-control " [ngClass]="isValid('mail')" formControlName="mail" id="validationServer02" placeholder="Enter your Email Id" autofocus>
  
        <div class="valid-feedback">
          <i class="fa-solid fa-face-smile" style="color:darkgreen"></i>
        </div>
  
        <div class="invalid-feedback">
          <p *ngIf="mail?.errors?.['email']"><i class="fa-solid fa-face-smile-upside-down" style="color:red"></i> Enter valid email (abcd@gmail.com)</p>
            <p *ngIf="mail?.errors?.['required']"><i class="fa-solid fa-face-smile-upside-down" style="color:red"></i> Email cannot be empty</p>
        </div>      
      </div>
      <div class="col-md-12">
        <label for="validationServerUsername" class="form-label"></label>
        <div class="input-group has-validation">
          <input type="password" style="width:100%; text-align: center;" class="form-control" [ngClass]="isValid('password')" formControlName="password" id="validationServerUserpassword" placeholder="Enter your password" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback">
        
          <div class="valid-feedback">
            <i class="fa-solid fa-face-smile" style="color:darkgreen"></i>
          </div>
        
          <div id="validationServerUsernameFeedback" class="invalid-feedback"> -->
            
            
            
            <!-- <p *ngIf="password?.errors?.['minlength'||'maxlength']"><i class="fa-solid fa-face-smile-upside-down" style="color:red"></i> Password must be minimum 8 characters and maximum 16 characters</p> -->
          
          
<!--           
            <p *ngIf="password?.errors?.['required']"><i class="fa-solid fa-face-smile-upside-down" style="color:red"></i> Password cannot be empty</p>
          </div>
        </div>
      </div>
      <div class="col-12" style="padding:15px;">
        <button class="btn btn-primary" type="submit" [disabled]="this.myForm.invalid">Login</button>
      </div>
      </section>
</form>
<p>Admin Credentials: Email:admin@gmail.com, Password:admin123</p> -->


<title>Login </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">



<body>

<!-- <div class="logo text-center">
<h1 style="color:blueviolet">Login</h1>
</div> -->
<div class="wrapper">
<div class="inner-warpper text-center">
  <img src="https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvdjkzMi1uaW5nLTUxLXguanBn.jpg" width="50px" height="50px"/>
  <h2 class="title" style="color:blueviolet"  >Login</h2>
   
  <form [formGroup]="myForm" (ngSubmit)="logIn()" class="row g-3" >
    <!-- <div class="input-group"> -->
      <!---<label class="palceholder" for="Consumer Id">Consumer Id</label>--->
      <!-- <input class="form-control" name="ConsumerId" id="Consumer_Id" type="text" placeholder="Consumer Id" size="11" [(ngModel)]="ConsumerId"/> -->
      <span class="lighting"></span>
    <!-- </div> -->
    <div class="input-group">
      <!---<label class="palceholder" for="userName">User Mail Id</label>--->
      <input class="form-control" name="userMail" id="userMail" type="email" [ngClass]="isValid('mail')" formControlName="mail" id="validationServer02" placeholder="User Mail Id" autofocus /> 
      <!-- <input type="text" style="width:100%; text-align:center" class="form-control " [ngClass]="isValid('mail')" formControlName="mail" id="validationServer02" placeholder="Enter your Email Id" autofocus> -->

       <div class="valid-feedback">
        <i class="fa-solid fa-face-smile" style="color:darkgreen"></i>
      </div>
      <div class="invalid-feedback">
        <i class="fa-solid fa-face-smile-upside-down" style="color:red"></i>
      </div>

      <div class="invalid-feedback">
        <p *ngIf="mail?.errors?.['email']"><i class="fa-solid fa-face-smile-upside-down" style="color:red"></i> Enter valid email (abcd@gmail.com)</p>
          <p *ngIf="mail?.errors?.['required']"><i class="fa-solid fa-face-smile-upside-down" style="color:red"></i> Email cannot be empty</p>
      </div>     
      <span class="lighting"></span>
    </div>

    <div class="input-group">
      <!---<label class="palceholder" for="userPassword">Password</label>--->
      <input class="form-control" name="userPassword" id="userPassword" type="password" [ngClass]="isValid('password')" formControlName="password" id="validationServerUserpassword" placeholder="Password" />
      <span class="lighting"></span>
      <div class="valid-feedback">
        <i class="fa-solid fa-face-smile" style="color:darkgreen"></i>
      </div>
      <!-- <div class="invalid-feedback">
        <i class="fa-solid fa-face-smile-upside-down" style="color:red"></i>
      </div> -->
      <div id="validationServerUsernameFeedback" class="invalid-feedback"> 
        <p *ngIf="password?.errors?.['required']"><i class="fa-solid fa-face-smile-upside-down" style="color:red"></i> Password cannot be empty</p>
      </div>
    </div>
    
    <button  id="login" class="btn btn-secondary" type="submit" [disabled]="this.myForm.invalid" >Login</button>
    
  </form>
</div>
<div class="signup-wrapper text-center">
  <a routerLink='/register'>Don't have an account? <span class="text-primary">Create One</span></a>
</div>
</div>


<style>


body {
    background: #f2f2f2;
    padding-top: px;
  }
  .animate {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .text-center {
    text-align: center;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }
  /* start commented backslash hack \*/
  * html .clearfix {
    height: 1%;
  }
  .clearfix {
    display: block;
  }
  /* close commented backslash hack */
  a {
    color: #00A885;
  }
  a:hover,
  a:focus {
    color: #00755d;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .text-primary {
    color: #00A885;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
  .logo h1 {
    color: #00A885;
    margin-bottom: -12px;
  }
  input[type="checkbox"] {
    width: auto;
  }
  button {
    cursor: pointer;
    background:blueviolet;
    width: 50%;
    margin-left:120px;
    border: 0;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    -webkit-transition: 0.3s linear;
    transition: 0.3s linear;
  }
  span.validate-tooltip {
    background: #D91717;
    width: 100%;
    display: block;
    padding: 5px;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    margin-top: -28px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-animation: tooltipanimation 0.3s 1;
    animation: tooltipanimation 0.3s 1;
  }
  .input-group {
    position: relative;
    margin-bottom: 20px;
  }
  .input-group label {
    position: absolute;
    top: 9px;
    left: 10px;
    font-size: 16px;
    color: #cdcdcd;
    font-weight: normal;
    padding: 2px 5px;
    z-index: 5;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .input-group input {
    outline: none;
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
    z-index: 3;
    border: 1px solid #d9d9d9;
    padding: 10px 10px;
    background: #ffffff;
    box-sizing: border-box;
    font-weight: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .input-group .lighting {
    background: #00A885;
    width: 0;
    height: 2px;
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 0;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .input-group.focused .lighting {
    width: 100%;
  }
  .input-group.focused label {
    background: #fff;
    font-size: 12px;
    top: -8px;
    left: 5px;
    color: #00A885;
  }
  .input-group span.validate-tooltip {
    margin-top: 0;
  }
  .wrapper {
    width: 35%;
    background: #fff;
    margin: 20px auto; 
    margin-top: 50px !important;
    min-height: 200px;
    border: 1px solid #f3f3f3;


    
  }
  .wrapper .inner-warpper {
    padding: 50px 30px 60px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    box-shadow: 1px 1.732px 10px 0px rgba(0, 0, 0, 0.063);
  }
  .wrapper .title {
    margin-top: 0;
    
  }
  .wrapper .supporter {
    margin-top: 10px;
    font-size: 14px;
    color: #8E8E8E;
    cursor: pointer;
  }
  .wrapper .remember-me {
    cursor: pointer;
  }
  .wrapper input[type="checkbox"] {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
  }
  .wrapper label[for="rememberMe"] {
    cursor: pointer;
  }
  .wrapper .signup-wrapper {
    padding: 10px;
    font-size: 14px;
    background: #EBEAEA;
  }
  .wrapper .signup-wrapper a {
    text-decoration: none;
    color: #7F7F7F;
  }
  .wrapper .signup-wrapper a:hover {
    text-decoration: underline;
  }
  @-webkit-keyframes tooltipanimation {
    from {
      margin-top: -28px;
    }
    to {
      margin-top: 0;
    }
  }
  @keyframes tooltipanimation {
    from {
      margin-top: -28px;
    }
    to {
      margin-top: 0;
    }
  }
  .direction {
    width: 200px;
    position: fixed;
    top: 120px;
    left: 20px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    background: #9365B8;
    padding: 10px;
    color: #fff;
  }
  @media (max-width: 480px) {
    .direction {
      position: static;
    }
  }





</style>

</body>

