<p>list-product-price </p>





<table class="table table-success table-striped">
      

    <thead>
        <tr>
            <th>id</th>
            <th>product id</th>
            <th>productname</th>
            <th>price</th>
            <th>start Date</th>
            <th>end Date</th>
            
            
        </tr>

    </thead>
    <tbody>
        
        <tr *ngFor="let product of productprice;">
            
            <td>{{product.id}}</td>
            <td>{{product.productId}}</td>
            <td>{{product.productname}}</td>
            <td>{{product.price}}</td>
            <td>{{product.startDate}}</td>
            <td>{{product.endDate}}</td>
            
           
           
        </tr>
    </tbody>
</table>
