
<table class="table table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>userId</th>
            <th>ticketTitle</th>
            <th>description</th>
            <th>category</th>
            <th>assignedTo</th>
            <th>priority</th>
            <th>status</th>
        </tr>
        
    </thead>
    <tbody>
        <tr *ngIf="ticketsUsers">
            <td>{{ticketsUsers.id}}</td>
            <td>{{ticketsUsers.userId}}</td>
            <td>{{ticketsUsers.ticketTitle}}</td>
            <td>{{ticketsUsers.description}}</td>
            <td>{{ticketsUsers.status}}</td>
            <td></td>

        </tr>
    </tbody>
</table>


